@charset "UTF-8";
/*---------------------
Base
---------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #171717;
  font-family: 'Noto Serif', 'Noto Serif JP', serif;
  letter-spacing: .05em;
  line-height: 1.667;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-wrapper {
  padding: 100px 4vw 70px;
}

.section-wrapper .section-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.section-wrapper .section-title {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  color: #282F35;
  margin-bottom: 80px;
}

.section-wrapper .section-title::after {
  content: "";
  background-color: #282F35;
  display: inline-block;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}

.link-btn {
  font-weight: bold;
  display: block;
  background-color: #F7D43F;
  text-align: center;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 6px #1B1310;
          box-shadow: 0px 0px 6px #1B1310;
  margin-top: 80px;
}

.link-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

/*---------------------
header
---------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  padding: 19px 4vw;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header .header-inner .site-title {
  font-size: 2.6rem;
  font-weight: bold;
  font-style: italic;
}

.header .header-inner .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-inner .header-nav .nav-list .nav-item {
  margin-left: 30px;
}

.header .header-inner .header-nav .nav-list .nav-item:first-of-type {
  margin-left: 0;
}

.header .header-inner .burger-btn {
  display: none;
}

.fixed {
  position: fixed;
  background-color: #282F35;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  padding: 30px 0;
}

/*---------------------
fv
---------------------*/
.fv {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 550px;
}

.fv img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

.fv .main-copy {
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
}

.fv .main-copy .en-copy {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.fv .main-copy .jp-copy {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.fv .main-copy .jp-copy .fv-br {
  display: none;
}

.slick-arrow {
  display: none !important;
}

/*---------------------
concept
---------------------*/
.concept .section-inner .concept-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.concept .section-inner .concept-title .sp-br {
  display: none;
}

.concept .section-inner .concept-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept .section-inner .concept-content .concept-text {
  max-width: 440px;
  font-weight: bold;
}

.concept .section-inner .concept-content .concept-img-wrapper {
  max-width: 440px;
  margin-left: 30px;
}

.concept .bottom-title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
  font-size: 9rem;
  font-weight: bold;
  opacity: .05;
  margin-top: 70px;
}

/*---------------------
works
---------------------*/
.works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.works .section-inner .section-title {
  color: #fff;
  text-align: right;
}

.works .section-inner .section-title::after {
  background-color: #fff;
}

.works .section-inner .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works .section-inner .works-list .works-item {
  max-width: 320px;
}

.works .section-inner .works-list .works-item p {
  background-color: #fff;
  padding: 25px 20px;
}

.works .bottom-title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  margin-top: 70px;
  color: #fff;
  font-size: 9rem;
  font-weight: bold;
  opacity: .05;
}

/*---------------------
service
---------------------*/
.service {
  padding: 100px 0 40px;
}

.service .section-title {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 80px;
}

.service .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.service .service-list a {
  width: calc(100%/3);
  line-height: 320px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  display: block;
}

.service .service-list a:hover {
  background-color: rgba(40, 47, 53, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
}

.service .service-list a .item1 {
  background-image: url(../img/service-img01@2x.jpg);
}

.service .service-list a .item2 {
  background-image: url(../img/service-img02@2x.jpg);
}

.service .service-list a .item3 {
  background-image: url(../img/sevice-img03@2x.jpg);
}

.service .bottom-title {
  font-size: 9rem;
  font-weight: bold;
  margin-top: 70px;
  opacity: .05;
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
}

/*---------------------
contact
---------------------*/
.contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}

.contact .section-title {
  color: #fff;
  text-align: right;
}

.contact .section-title::after {
  background-color: #fff;
}

.contact p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.contact .link-btn {
  margin-top: 40px;
}

.contact .bottom-title {
  font-size: 9rem;
  font-weight: bold;
  color: #fff;
  opacity: .05;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}

/*---------------------
footer
---------------------*/
.footer {
  padding: 30px 4vw;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

/*--------------------
import
--------------------*/
@media screen and (max-width: 768px) {
  /*-------------------*/
  /* base 
    /*-------------------*/
  .section-wrapper {
    padding: 100px 4vw 40px;
  }
  .section-wrapper:nth-of-type(3) {
    padding: 100px 0 40px;
  }
  .section-wrapper .section-title {
    font-size: 3rem;
    margin-bottom: 55px;
  }
  .section-wrapper .section-title::after {
    width: 90px;
  }
  .noscroll {
    overflow: hidden;
  }
  /*-------------------*/
  /* header 
    /*-------------------*/
  .header {
    padding: 30px 4vw;
  }
  .header .header-inner {
    /*--------------------------*/
    /* burger-btnをクリックしたとき
            /*--------------------------*/
  }
  .header .header-inner .header-nav {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #282F35;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header .header-inner .header-nav .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header .header-inner .header-nav .nav-list .nav-item {
    margin-bottom: 30px;
    margin-left: 0;
    text-align: center;
  }
  .header .header-inner .header-nav .nav-list .nav-item:last-of-type {
    margin-bottom: 0;
  }
  .header .header-inner .burger-btn {
    display: block;
  }
  .header .header-inner .burger-btn .bars .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFFDFD;
  }
  .header .header-inner .burger-btn .bars .bar-top {
    margin-bottom: 10px;
  }
  .header .header-inner .burger-btn .bars .bar-bottom {
    margin-top: 10px;
  }
  .header .header-inner .click .bars .bar-top {
    -webkit-transform: rotate(45deg) translate(9px, 9px);
            transform: rotate(45deg) translate(9px, 9px);
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .header-inner .click .bars .bar-mid {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .header-inner .click .bars .bar-bottom {
    -webkit-transform: rotate(-45deg) translate(9px, -9px);
            transform: rotate(-45deg) translate(9px, -9px);
    -webkit-transition: .3s;
    transition: .3s;
  }
  /*-------------------*/
  /* fv 
    /*-------------------*/
  .fv .main-copy {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .fv .main-copy .en-copy {
    font-size: 3.7rem;
    text-align: center;
  }
  .fv .main-copy .jp-copy {
    font-size: 3rem;
  }
  .fv .main-copy .jp-copy .fv-br {
    display: block;
  }
  /*-------------------*/
  /* concept
    /*-------------------*/
  .concept .section-inner .concept-title {
    margin-bottom: 34px;
    font-size: 2rem;
  }
  .concept .section-inner .concept-title .sp-br {
    display: block;
  }
  .concept .section-inner .concept-title .pc-br {
    display: none;
  }
  .concept .section-inner .concept-content {
    display: block;
  }
  .concept .section-inner .concept-content .concept-text {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .concept .section-inner .concept-content .concept-img-wrapper {
    max-width: 100%;
    margin-left: 0;
  }
  .concept .section-inner .concept-content .concept-img-wrapper img {
    width: 100%;
  }
  .concept .bottom-title {
    font-size: 4rem;
    margin-top: 40px;
  }
  /*-------------------*/
  /* works 
    /*-------------------*/
  .works .section-inner .works-list {
    display: block;
  }
  .works .section-inner .works-list .works-item {
    max-width: 320px;
    margin: 0 auto 30px;
  }
  .works .section-inner .works-list .works-item:last-of-type {
    margin-bottom: 0;
  }
  .works .bottom-title {
    font-size: 4rem;
    margin-top: 40px;
  }
  /*-------------------*/
  /* service
    /*-------------------*/
  .service .service-list {
    display: block;
  }
  .service .service-list a {
    margin-bottom: 30px;
    width: 100%;
  }
  .service .service-list a:last-of-type {
    margin-bottom: 0;
  }
  .service .service-list a .service-item {
    font-size: 2rem;
  }
  .service .bottom-title {
    padding: 0 4vw;
    font-size: 4rem;
    margin-top: 40px;
  }
  /*-------------------*/
  /* contact 
    /*-------------------*/
  .contact .section-inner .link-btn {
    margin-top: 30px;
  }
  .contact .bottom-title {
    margin-top: 40px;
    font-size: 4rem;
  }
  /*-------------------*/
  /* footer
    /*-------------------*/
}
/*# sourceMappingURL=style.css.map */